.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 70px;
}

.items {
    display: block;
    position: absolute;
    border: 1px solid darkviolet;
    background: #ffefff;
    padding: 5px;

}

.item.selected {
    background: darkviolet;
    font-style: italic;
}